.contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    margin-top: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

}

.presentaErrorBackend {
    margin: 0;
    color: yellow;
    font-size: medium;
}

.input {
    height: 30px;
    margin-bottom: 5px;
}

.rol {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.rolSelect {
    height: 30px;
    margin-bottom: 5px;
}

.text {
    height: auto;
    margin: 5px;
    line-height: 1;
}

.title1 {
    margin-bottom: 25px;
}

.boton {
    margin-top: 10px;
    width: 100%;
    height: 40px;
}

.error {
    margin: 0;
    color: chartreuse;
    font-size: x-small;
}

.label {
    font-size: small;
    text-align: left;
    color: darkgrey;
}



/* ************************************************************************************ */
/* From Uiverse.io by nikk7007 */
.boton {
    --color: #646cff;
    padding: 0.8em 1.7em;
    background-color: #1a1a1a;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 13px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.boton::before,
.boton::after {
    content: '';
    display: block;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.boton::before {
    top: -1em;
    left: -1em;
}

.boton::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.boton:hover::before,
.boton:hover::after {
    height: 410px;
    width: 410px;
}

.boton:hover {
    color: rgb(10, 25, 30);
}

.boton:active {
    filter: brightness(.8);
}